<div id="frm-login" class="modal fade show" tabindex="-1" aria-hidden="false" data-bs-keyboard="false" data-bs-backdrop="static">    
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bienvenido</h5>                
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="username" class="form-label">Nombre de usuario</label>
                    <input id="username" type="text" class="form-control" placeholder="Nombre de usuario">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contrase&ntilde;a</label>
                    <input id="password" type="password" class="form-control" placeholder="Contrase&ntilde;a">
                </div>
                <button class="btn btn-primary w-100" type="button">Ingresar</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        let modal = new bootstrap.Modal(document.getElementById('frm-login'));
        modal.show();
    });
</script>